<div class="center">
  <h2>{{ olympicCountry.country }}</h2>
  <h2>Number of entries {{ nbJO }} Total number medals {{ nbTotalMedal }} Total number of athletes {{ nbTotalAthletes }}</h2>
  <hr />

  <div *ngIf="lineChartData">
    <ngx-charts-line-chart
      [results]="[lineChartData]"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="timeline"
      [view] = "[width, height]"
      [showRefLabels]="showRefLabels"
      [showRefLines]="showRefLines"
      [showGridLines]="showGridLines"
      [legend]="legend"
      [gradient]="gradient"
      >
    </ngx-charts-line-chart>
  </div>
  <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Go back</a>
</div>
