<div class="center">
  <div class="title">{{ olympicCountry.country }}</div>
  <div class="d-flex justify-content-center flex-wrap gap-3 p-3">
    <h3 class="subtitle">Number of JOs<span class="number">{{ nbJO }}</span></h3>
    <h3 class="subtitle">Total number medals<span class="number">{{ nbTotalMedal }}</span></h3>
    <h3 class="subtitle">Total number athletes<span class="number">{{ nbTotalAthletes }}</span></h3>
  </div>
  <div *ngIf="lineChartData">
    <ngx-charts-line-chart
      [results]="[lineChartData]"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="timeline"
      [view] = "[width, height]"
      [showRefLabels]="showRefLabels"
      [showRefLines]="showRefLines"
      [showGridLines]="showGridLines"
      [legend]="legend"
      [gradient]="gradient"
      >
      <ng-template #tooltipTemplate let-model="model">
        <div>{{model.name}}</div>
        <div>🏅{{model.value}}</div>
      </ng-template> 
      <ng-template #seriesTooltipTemplate let-model="model">
        <div>{{model[0].name}}</div>
        <div>🏅{{model[0].value}}</div>        
      </ng-template>       
    </ngx-charts-line-chart>
  </div>
  <a class="go-back" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">- Back Medals per Country -</a>
</div>
