<div class="center">
  <h2>Medals per country</h2>
  <ng-container *ngIf="(olympics$ | async) as olympicCountrys">
    <h3>Number of countries : {{ olympicCountrys?.length }} </h3>

    <h3>Number of JOs : 
      @for (olympicCountry of olympics$ | async ; track olympicCountry.id) {
        @if(olympicCountry.id === 3){
          {{ olympicCountry.id }} 
        }    
      }
    </h3>
    
    <ngx-charts-pie-chart
      [results]="pieChartData"
      [legend]="true"
      [explodeSlices]="false"
      [labels]="true"
      [doughnut]="false"
      [gradient]="false"
      >
    </ngx-charts-pie-chart>
  </ng-container>
</div>