<h2>Dashboard</h2>
<hr />
  

<h2>Medals per country</h2>
<ng-container *ngIf="(olympics$ | async) as olympicCountrys">
  <h3>Number of countries : {{ olympicCountrys?.length }} </h3>

  <h3>Number of JOs : 
    @for (olympicCountry of olympics$ | async ; track olympicCountry.id) {
      @if(olympicCountry.id === 3){
        {{ olympicCountry.id }} 
      }    
    }
  </h3>
  
  <ul>
    @for (olympicCountry of olympics$ | async ; track olympicCountry.id) {
      <li>{{ olympicCountry.country }} : 
        {{ olympicCountry.participations[0].medalsCount 
          + olympicCountry.participations[1].medalsCount 
          + olympicCountry.participations[2].medalsCount
        }} 
        Total number of medals
      </li>
    }
  </ul>
</ng-container>