/* You can add global styles to this file, and also import other style files */
* {
  font-family: Roboto, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.center {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //padding: 0px; //20px;
}

.pie-label { 
  max-width: 600px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
  font-size: 20px !important; /* Augmente la taille des labels */
  font-weight: normal  ; /* Rendre les labels plus visibles */
  fill: #030303; /* Couleur des labels */
}

.ngx-charts-tooltip-content.type-tooltip {
  .tooltip-caret {
    border-top-color: #0388a0d2 !important;  
  }
  background-color: #0388a0d2 !important;
  color: white !important;
  font-size: 20px !important;
  border-radius: 15px !important; 
}

.title {
  background-color: #0388a0d2; /* Couleur de fond */
  color: #f8fdfd; /* Couleur du texte */
  text-align: center; /* Centrer le texte */
  border-radius: 15px; /* Coins arrondis (optionnel) */
  width: 300px; /* Largeur fixe pour un carré */
  height: 60px; /* Hauteur fixe pour un carré */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px; //auto; /* Centrer horizontalement et espacement vertical */
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 0px;
  padding: 10px; /* Espacement interne */  
}

.subtitle {
  background-color: #fcfcfcd2; /* Couleur de fond */
  color: #080808; /* Couleur du texte */
  text-align: center; /* Centrer le texte */
  border-radius: 15px; /* Coins arrondis (optionnel) */
  width: 210px; /* Largeur fixe pour un carré */
  height: 90px; /* Hauteur fixe pour un carré */
  display: flex;
  flex-direction: column; /* Force l'alignement vertical */
  justify-content: center; /* Centre verticalement */
  align-items: center; /* Centre horizontalement */
  margin: 0px; //auto; /* Centrer horizontalement et espacement vertical */
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 0px;
  padding: 10px; /* Espacement interne */
  border: 3px solid #0388a0d2; /* Bordure de 3px avec une couleur blanche */ 
  white-space: nowrap; /* Empêche le texte de se diviser sur plusieurs lignes */
}

.subtitle .number {
  font-size: 24px; /* Taille du chiffre */
  font-weight: bold; /* Met le chiffre en gras */
  margin-top: 5px; /* Espacement entre le texte et le chiffre */
}

.go-back {
  display: block; /* Permet de gérer la position comme un bloc */
  margin-top: 30px; /* Ajoute un espacement au-dessus pour le positionner plus bas */
  font-size: 20px; /* Augmente la taille du texte */
  font-weight: bold; /* Rend le texte plus gras */
  text-align: center; /* Centre le texte horizontalement */
  color: #0388a0; /* Couleur du texte */
  text-decoration: none; /* Supprime le soulignement du lien */
}