/* You can add global styles to this file, and also import other style files */
* {
  font-family: Roboto, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.center {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.pie-label { 
  max-width: 600px;
  // width: 100%;
  // height: auto;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;  
  font-size: 15px !important; /* Augmente la taille des labels */
  font-weight: bold; /* Rendre les labels plus visibles */
  fill: #080cee; /* Couleur des labels */
}

